@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: #868a90;
}

nav,
ul {
  list-style: none;
}
button {
  cursor: pointer;
}
body {
  font-family: "Poppins", arial !important;
}

.logo {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #3a3a3a;
}
.mobile-responsive-header {
  background-color: #fff;
  width: 100%;
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
  position: fixed;
  z-index: 3;
  top: 0;
}
.mobile-responsive-header img {
  /* width: 150px; */
}

.patient-home-container {
  overflow: hidden;
}

/* header */

.header-container {
  position: fixed;
  background: #fff;
  border-bottom: 3px solid #0077ff;
  z-index: 8;
  transform: translateX(-50%);
  top: 0;
  left: 50%;
  width: 100%;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1300px;
  margin: 0rem auto;
  position: relative;
  height: 120px;
}
header.special-header {
  min-height: 120px;
}
header.special-header nav {
  margin-left: 1rem;
}

.header-container header ul {
  display: flex;
  align-items: center;
}
.header-container header ul > * + * {
  margin-left: 2rem;
}
.header-container header ul a {
  font-size: 18px;
  transition: 0.3s ease all;
}
.header-container header ul li.active a {
  color: #0077ff;
}
.header-container header ul li:hover a {
  color: #0077ff;
}
header nav {
  display: flex;
  align-items: center;
  list-style: none;
  flex: 1;
  justify-content: center;
}
header nav > li {
  padding: 1rem 0rem;

  font-size: 16px;
  font-weight: 500;
  color: #868a90;
  position: relative;
  text-align: center;
}
header nav > li {
  height: 120px;
  display: flex;
  align-items: center;
}
header nav > li + li {
  margin-left: 1rem;
}
header nav li a {
  transition: 0.4s ease all;
}
header nav li a:hover {
  color: #0077ff;
}
header nav li.active-link a,
header nav li.active-link {
  color: #0077ff !important;
}

header nav li.active-link::after {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: 3px;
  background-color: #0077ff;
}
.header-drop-down-solution i {
  margin-left: 5px;
}
header nav #solution-link.active-link::after {
  position: absolute;
  width: 0px;
  content: "";
  background-color: transparent;
  display: none;
}
header .buttons-container {
  flex: none !important;
}
header .buttons-container > a {
  padding: 0rem 1.3rem;
  background-color: transparent;
  box-shadow: none;
  color: #0077ff;
  border-radius: 99px;
  font-weight: 600;
}
header .buttons-container > .dark-btn {
  min-height: 60px;
  padding: 0rem 2rem;
  background-color: #0077ff;
  border-radius: 99px !important;
  border: none;
  color: white;
  outline: none;
  display: flex;
  box-shadow: 0px 10px 10px #deeaf5;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
  position: relative;
  font-size: 15px;
}
header .buttons-container > .dark-btn.active::after {
  position: absolute;
  bottom: -15px;
  width: 40%;
  height: 3px;
  background-color: #0077ff;
  content: "";
  left: 50%;
  transform: translateX(-50%);
}

header .header-content,
header .header-content nav {
  display: flex;
  align-items: center;
  flex: 1;
}

.close-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #7969d3;

  right: -20px;
  display: flex;
  justify-content: flex-end;
  padding: 0.4rem 0.5rem;
  border-radius: 99px;
  cursor: pointer;
  width: 60px;
}
header .header-content {
  justify-content: space-between;
}
header .header-content nav {
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: flex-start;
  background: #7969d3;
  margin-left: 0px;
  height: 100vh;
  padding: 2rem;
  width: 250px;
  left: -100%;
  transition: 0.3s ease all;
}

.burger-icon,
.close-icon {
  color: #fff;
  cursor: pointer;
}

header .header-content nav.active {
  left: 0;
}

header .header-content nav > * + * {
  margin-left: 0px;
  margin-top: 2rem;
}
header .header-content .logo {
  display: flex;
  align-items: center;
}
header .header-content .logo img {
  width: 90px;
}
header .header-content .logo .burger-icon {
  margin-right: 1rem;
  color: #fff;
}
.nav_side {
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 0px !important;
  background: #fff;
  padding-top: 4px;
  z-index: 9;
}
.nav_side .logo {
  font-size: 16px;
}
.Aside-drop-down-solution {
  color: #868a90;
}
.nav_side .logo img {
  width: 100%;
}

.nav_side.active {
  left: 0;
}

.nav_side a {
  display: flex;
  align-items: center;
}

.nav_side a p {
  margin-bottom: 0px;
  margin-left: 10px;
}

.nav_side .button {
  display: flex;
  justify-content: flex-end;
  display: none;
}

.nav_side .button a,
header .header-content .button a {
  color: rgb(252, 252, 253) !important;
  border: 1px solid rgb(237, 122, 86);
  box-shadow: none;
  border-radius: 25px;
  background-color: rgb(237, 122, 86);
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.nav_side {
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: flex-start;

  margin-left: 0px;
  height: 100vh;
  padding: 2rem;
  width: 250px;
  left: -100%;
  transition: 0.3s ease all;
}
/* footer */
.patient-peachy-footer {
  background-color: #1c4677;
  color: #fff;
  padding: 4rem 0rem;
  position: relative;
  overflow: hidden;
}
.footer-shape-2 {
  position: absolute;
  left: 100px;
  bottom: -80px;
}
.footer-shape-1 {
  position: absolute;
  left: -70px;
  top: -70px;
  width: 300px;
}
.footer-shape-3 {
  position: absolute;
  right: 15%;
  top: 150px;
  width: 400px;
}
.patient-peachy-footer a {
  color: #fff;
  font-size: 13px;
}
.footer-main-heading {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  position: relative;
  z-index: 1;
}
.footer-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  width: 1300px;
  margin: auto;
  position: relative;
  z-index: 1;
}
.footer-links .first-col h2 {
  font-size: 18px;
  margin-bottom: 10px;
}
.footer-links .footer-col {
  justify-self: flex-end;
}
.footer-links .footer-col:last-child {
  justify-self: center;
}
.footer-links .footer-col > * + * + * {
  margin-top: 22px;
}
.footer-links .footer-col > *:first-child {
  margin-bottom: 10px;
  font-weight: 600;
}
.footer-links .footer-col a:hover {
  text-decoration: underline;
}

/* responsive */
@media screen and (max-width: 1150px) {
  header {
    display: none;
  }
  .patient-faq-sidebar {
    width: 60%;
    z-index: 10;
    position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
    overflow: auto;

    background-color: #fff;
  }

  .mobile-responsive-header {
    display: flex;
  }
  .main-solution-learn-more {
    margin-top: 130px !important;
  }
  .patient-faq-sidebar.activate-sidebar {
    left: 0%;
  }
  nav {
    margin: 2rem 0rem;
  }
  nav li {
    padding: 1rem 0rem;
    padding-bottom: 0px;
    position: relative;
    margin-bottom: 0.5rem;
  }
  nav .drop-down-solutions li {
    padding: 0;
    margin: 0;
  }
  nav .drop-down-solutions .solution-sublist {
    width: 100% !important;
    position: relative;

    left: 0;
    top: 13px;
    transform: translateY(0px);
  }

  .buttons-container {
    flex-direction: column;

    align-items: flex-start;
  }
  .buttons-container > a {
    width: 100%;
    margin-bottom: 1rem;
    background-color: #0077ff !important;
    color: #fff !important;
    height: 60px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 99px !important;
  }
  .buttons-container > a:last-child {
    margin-bottom: 0px;
  }
  .buttons-container > a.outline-btn {
    margin-left: 0px;
    margin-top: 10px;
  }

  .footer-links {
    width: 90%;
  }
}
@media screen and (max-width: 1050px) {
  .footer-links .footer-col:last-child {
    justify-self: flex-start !important;
  }
}
@media screen and (max-width: 900px) {
  .patient-peachy-footer {
    padding: 4rem 1rem;
  }
  .patient-peachy-footer a {
    color: #fff;
    font-size: 13px;
  }
  .footer-main-heading {
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 5rem;
  }
  .footer-links {
    grid-template-columns: 1fr;
    grid-gap: 3rem;
    width: 90%;
  }
  .footer-links .first-col h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .footer-links .footer-col {
    justify-self: flex-start;
  }
  .footer-links .footer-col > * + * + * {
    margin-top: 20px;
  }
  .footer-links .footer-col a:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: 720px) {
  .mobile-responsive-header {
    padding: 2rem 2rem;
  }
  .buttons-container a {
    text-align: center;
  }

  .patient-faq-sidebar {
    width: 70%;
  }
  .patient-faq-sidebar .logo img {
    width: 150px;
  }
}
@media (max-width: 500px) {
  .footer-main-heading {
    text-align: center !important;
    font-size: 24px !important;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem !important;
    font-weight: 800 !important;
  }
  .footer-links {
    text-align: center;
  }
  .footer-links .footer-col,
  .footer-links .footer-col:last-child {
    justify-self: center !important;
  }
  .footer-links .footer-col > *:first-child {
    font-weight: 600;
  }
  .footer-links .footer-col > * + * + * {
    margin-top: 10px !important;
  }
}
@media screen and (max-width: 330px) {
  .mobile-responsive-header {
    padding: 2rem 1.5rem;
  }
  .patient-faq-sidebar {
    padding: 2rem 1rem;
    width: 75%;
  }
}

.about-section-wrapper {
  position: relative;
  padding: 12rem 0rem;
}
.first_about_section_wrapper {
  padding-top: 19rem;
  padding-bottom: 7rem;
}
.radial_bar {
  height: 70%;
  right: 0;
  width: 10vw;
  background: linear-gradient(to top, #e1f0ff, #fff);
  position: absolute;
  bottom: 0;
}
:root {
  --primary-color: #0077ff;
  --pure: #fff;
}

.mobile-image {
  display: none;
}
a {
  text-decoration: none;
}
.container {
  width: 85%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

button {
  cursor: pointer;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 0.9;
}
.buttons-container > a {
  height: 50px;
  border-radius: 99px !important;
  padding: 0rem 3rem;
  background-color: #0077ff;
  border: none;
  color: white;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 13px;
  box-shadow: 0px 10px 10px #deeaf5;
}
.buttons-container > a.outline-btn {
  background-color: transparent;
  border: 2px solid #0077ff;
  color: #0077ff;
  margin-left: 10px;
}
.buttons-container > a.outline-btn span {
  margin-top: 2.5px;
}
.btn {
  border-radius: 10px;
  text-transform: capitalize;
}

.btn-primary {
  height: 50px;
  padding: 0rem 2rem;
  color: var(--pure);
  background-color: var(--primary-color);
  font-size: 12px;
  font-weight: 400;
  border: 1px solid var(--primary-color);
}

.btn-secondary {
  height: 50px;
  padding: 0rem 2rem;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-size: 12px;
  font-weight: 400;
}

section.home-section {
  margin-top: 250px;
  align-items: center;
  width: 1300px;
  margin-bottom: 6rem;
}

section.home-section .home-section-left {
  padding: 2rem 0;
  width: 40%;

  margin-right: 20px;
}
.home-section-outer {
  border-bottom: 3px solid #0077ff;
}
section.home-section .home-section-left > div h1 {
  color: #0077ff;
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 12px;
}

section.home-section .home-section-left > div h2 {
  font-size: 38px;
  font-weight: 700;
  color: #3a3a3a;
  margin-bottom: 0px;
}

section.home-section .home-section-left > div p {
  color: #868a90;
  margin: 2rem 0rem;
  width: 90%;
  font-size: 18px;
  line-height: 32px;
}
section.home-section .home-section-left > div.home-buttons {
  margin-top: 0rem;
}
section.home-section .home-section-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
section.home-section > * {
  flex: 1;
}
section.home-section .home-section-right img {
  width: 100%;
  border-radius: 20px;
}
.home-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
  width: 76%;
}
.home-buttons > a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 0.8rem !important;
  min-width: 250px;
  background-color: #0077ff;
  color: #fff;
  border-radius: 10px;
  border: 1px solid transparent;
  font-size: 15px;
  height: 65px;
  width: 233px;
  padding: 0rem 1rem;
  border-radius: 999px;
  text-transform: capitalize;
  box-shadow: 0px 10px 10px #deeaf5;
}

.home-buttons > a:last-child {
  color: #0077ff;
  border-color: #0077ff;
  margin-left: 1rem;
  transition: 0.3s ease all;
  background-color: transparent;
  position: relative;
}
.home-buttons > a:last-child::after {
  width: 100%;
  content: "";
  height: 100%;
  background-color: #0077ff;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s ease all;
  border-radius: 999px;
  z-index: -1;
  opacity: 0;
  width: 20%;
}
.home-buttons > a:last-child:hover {
  color: #fff;
}
.home-buttons > a:last-child:hover::after {
  width: 100%;
  opacity: 1;
}
.about-section {
  width: 1300px;
  margin: 0rem auto;

  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 4rem;
  grid-row-gap: 2rem;
}

.about-section-left {
  position: relative;
}
.about-section-left img {
  width: 100%;
  border-radius: 20px;
}
.widget-bg {
  position: absolute;
  z-index: -1;
  left: -400px;
}
.side-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  position: relative;
}
.widget_img {
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 330px;
}
.side-images img {
  box-shadow: 4px 10px 30px #deeaf5;
  width: 100%;
  border-radius: 10px;
}
.widget {
  background: #fff;
  padding: 2rem 2rem;
  position: absolute;
  bottom: -80px;
  right: 0;
  width: 350px;
  border-radius: 20px;
  box-shadow: 0px 10px 10px #ebf3fd, 0px 5px 10px #ebf3fd;
}
.widget-presentation {
  display: flex;
  align-items: flex-start;
}
.widget-presentation > * {
  flex: 1;
}
.widget-presentation > h3 {
  color: #3a3a3a;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.4em;
}
.stars-area {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.stars-area > small {
  color: #ffbb00;
  font-size: 20px;
  margin-left: 10px;
}
.stars {
  display: flex;
  align-items: center;
}
.stars > * + * {
  margin-left: 2px;
}
.people-review-picture {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.people-review-picture .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.people-review-picture .image,
.people-review-picture .plus-icon {
  border-radius: 50%;
  width: 62px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.people-review-picture .image:nth-child(2) {
  left: -15px;
}
.people-review-picture .image:nth-child(3) {
  left: -30px;
}
.people-review-picture .image:nth-child(4) {
  left: -45px;
}
.people-review-picture .plus-icon {
  left: -45px;
}
.people-review-picture .plus-icon {
  background-color: #fff;
  cursor: pointer;
}
.learn_more_link {
  font-size: 22px;
  font-weight: 600;
  color: #3a3a3a;
  display: inline-block;
  align-self: flex-start;
  margin-top: 1rem;
  padding-bottom: 0.5rem;

  border-bottom: 5px solid #0077ff;
}
@media screen and (min-width: 2000px) {
  .side-images img {
    width: 100%;
  }
}
.side-images .image2 {
  grid-row: span 2;
  display: flex;
  align-items: flex-end;
}
.side-images .image2 img {
  height: 60vh;
  object-fit: cover;
}
.side-images .image3 {
  display: flex;
  align-items: flex-end;
}
section.about-section .about-section-left .card {
  background-color: #fff;
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  padding-right: 0;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 23px;
  margin-left: auto;
}
.about-section-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 90%;

  padding-bottom: 2rem;
}
.about-section-right .home-buttons {
  margin-top: 4rem;
}
.about-section-right .home-buttons > a {
  flex: 1;
}
section.about-section .about-section-right div h1 {
  color: #0077ff;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

section.about-section .about-section-right div h2 {
  color: #3a3a3a;
  font-size: 38px;
  margin-bottom: 1rem;
  font-weight: bold;
}
section.about-section .about-section-right div p {
  color: #868a90;
  width: 90%;
  font-size: 18px;
  line-height: 35px;
}

/* become-peachy-patient-container */
.become-peachy-patient-container {
  background-color: #0077ff;
  height: 300px;
  position: relative;
  display: flex;
}
.become-peachy-patient-container img {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}
.become-peachy-patient-container .content {
  width: 1300px;
  margin: auto;
  color: #fff;
}
.become-peachy-patient-container .content h1 {
  font-size: 3rem;
  text-transform: capitalize;
  margin-bottom: 30px;
  text-align: left;
}
.become-peachy-patient-container .content a {
  background-color: #fff;
  display: inline-block;
  color: #0077ff;
  padding: 1.2rem 4.2rem;
  font-weight: bold;
  border-radius: 60px;
}
.Patient-section-buttons {
  display: flex;
  align-items: center;
}
.Patient-section-buttons > *:first-child {
  margin-right: 15px;
}
/* patient-peachy-footer */
.patient-peachy-footer {
  background-color: #1c4677;
  color: #fff;
  padding: 4rem 0rem;
  position: relative;
  overflow: hidden;
}
.footer-shape-2 {
  position: absolute;
  left: 100px;
  bottom: -80px;
}
.footer-shape-1 {
  position: absolute;
  left: -70px;
  top: -70px;
  width: 300px;
}
.footer-shape-3 {
  position: absolute;
  right: 15%;
  top: 150px;
  width: 400px;
}
.patient-peachy-footer a {
  color: #fff;
  font-size: 13px;
}
.footer-main-heading {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  position: relative;
  z-index: 1;
}
.footer-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  width: 1300px;
  margin: auto;
  position: relative;
  z-index: 1;
}
.footer-links .first-col h2 {
  font-size: 18px;
  margin-bottom: 10px;
}
.footer-links .footer-col {
  justify-self: flex-end;
}
.footer-links .footer-col > * + * + * {
  margin-top: 22px;
}
.footer-links .footer-col > *:first-child {
  margin-bottom: 10px;
}
.footer-links .footer-col a:hover {
  text-decoration: underline;
}

/* ---------------addition css-------------------------------- */
/* -----------------Customize font size and buttons----------- */

section.home-section .home-section-left > div p {
  font-size: 18px !important;
}

/* -------------------End-------------------------------------- */
@media screen and (max-width: 1350px) {
  header,
  .about-section {
    width: 90%;
  }
  section.home-section {
    margin-top: 130px !important;
    width: 90%;
  }
}
@media screen and (max-width: 1150px) {
  header {
    display: none;
  }

  .patient-faq-sidebar {
    width: 60%;
    z-index: 222;
    position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
    overflow: auto;
    box-shadow: 4px 3px 15px 0px #8e98a5;
    top: 0;
    background-color: #fff;
  }
  .mobile-responsive-header {
    display: flex;
  }
  .patient-faq-sidebar.activate-sidebar {
    left: 0%;
  }
  .patient-faq-sidebar nav {
    margin-top: 2rem;
  }
  .patient-faq-sidebar nav li {
    padding: 1rem 0rem;
    margin-bottom: 0.5rem;
  }
  .buttons-container {
    flex-direction: column;

    align-items: flex-start;
  }
  .buttons-container > a {
    width: 100%;
  }
  .buttons-container > a.outline-btn {
    margin-left: 0px;
    margin-top: 10px;
  }
  .footer-links {
    width: 90%;
  }
}
@media screen and (max-width: 1200px) {
  .widget_img {
    display: none;
  }
  .mobile-image {
    display: block;
    width: 80%;
    margin: 0rem auto;
  }
  section.home-section {
    margin-top: 0px;
  }
  section.home-section .home-section-right {
    display: none;
  }
  section.home-section .home-section-left {
    padding: 2rem 0;
    width: 100%;
    margin-right: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section.home-section .home-section-left > div p {
    width: 100%;
  }
  .mobile-image {
    margin-top: 5rem;
    border-radius: 20px;
    width: 100%;
  }
  .home-buttons {
    justify-content: center;
  }
  .about-section-wrapper {
    padding: 2rem 0rem;
  }
  .learn_more_link {
    align-self: center !important;
  }
  .radial_bar {
    display: none;
  }

  .about-section {
    grid-gap: 4rem;
    grid-template-columns: 1fr;
  }
  .about-section-right {
    text-align: center;
    align-items: center;
    margin-top: 2rem;
  }
  .side-images .image2 img {
    height: 100%;
  }
  .widget {
    position: static;
    padding: 3rem 2rem;
  }

  .widget-presentation {
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1;
  }
  .widget-presentation > h3 {
    width: 100%;
    text-align: center;
  }
  .become-peachy-patient-container {
    background-color: #0077ff;
    height: 400px;
    position: relative;
    display: flex;
  }
  .become-peachy-patient-container img {
    display: none;
  }
  .become-peachy-patient-container .content {
    width: 85%;
    margin: auto;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section.about-section .about-section-right div p {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .side-images img {
    width: 100%;
  }
  .about-section-right {
    height: 100%;
  }
  .become-peachy-patient-container .content a {
    width: 100%;
  }
  .patient-peachy-footer {
    padding: 4rem 1rem;
  }
  .patient-peachy-footer a {
    color: #fff;
    font-size: 13px;
  }
  .footer-main-heading {
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 5rem;
  }
  .footer-links {
    grid-template-columns: 1fr;
    grid-gap: 3rem;
    width: 90%;
  }
  .footer-links .first-col h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .footer-links .footer-col {
    justify-self: flex-start;
  }
  .footer-links .footer-col > * + * + * {
    margin-top: 20px;
  }
  .footer-links .footer-col a:hover {
    text-decoration: underline;
  }
}
@media screen and (max-width: 720px) {
  .mobile-responsive-header {
    padding: 2rem 2rem;
  }
  .buttons-container > a.outline-btn img {
    display: none;
  }
  .buttons-container a {
    text-align: center;
  }
  .patient-faq-sidebar {
    width: 70%;
  }
  .patient-faq-sidebar .logo img {
    width: 150px;
  }
  .home-buttons,
  .Patient-section-buttons {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
  }
  .home-buttons > a,
  .Patient-section-buttons > a {
    min-width: 100%;
  }

  .Patient-section-buttons > *:first-child {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .home-buttons > a:first-child {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .about-section {
    margin: 4rem auto;
  }
  .side-images {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
  .people-review-picture {
    display: none;
  }
  .patient-faq-sidebar {
    width: 70%;
  }
  .patient-faq-sidebar .logo img {
    width: 150px;
  }
  .become-peachy-patient-container .content h1 {
    font-size: 2rem;
  }
  .home-buttons > a:last-child {
    margin-left: 0px;
  }
}
@media screen and (max-width: 600px) {
  .side-images .image2 {
    display: none;
  }
  section.home-section .home-section-left > div h1 {
    font-size: 2.1rem;
  }
  section.home-section .home-section-left > div h2 {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 500px) {
  .logo {
    font-size: 20px;
  }
  section.home-section .home-section-left > div h1,
  section.home-section .home-section-left > div h2 {
    font-size: 24px !important;
    text-align: left !important;
    font-weight: 800 !important;
  }
  section.about-section .about-section-right div p {
    font-size: 18px;
    text-align: left;
  }
  section.about-section .about-section-right div h2 {
    color: #364a6b;
    font-size: 24px !important;
    text-align: left !important;
    font-weight: 800 !important;
  }
  section.home-section .home-section-left > div p {
    font-size: 18px !important;
    text-align: left !important;
  }
  .home-buttons,
  .Patient-section-buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 85%;
  }
  .become-peachy-patient-container .content a {
    padding: 1.2rem 0.8rem !important;
  }
  .become-peachy-patient-container .content h1 {
    font-size: 24px;
  }
}

@media screen and (max-width: 540px) {
  .widget-bg {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  section.home-section .home-section-left > div.home-buttons {
    width: 100%;
    /* display: flex; */
    align-items: flex-start;
    /* justify-content: flex-start; */
    /* flex-direction: row; */
  }
  .home-buttons > a,
  .Patient-section-buttons > a {
    height: 45px;
    width: 200px !important ;
    min-width: 200px !important;
  }
  .home-buttons > a:last-child {
    /* margin-left: 5px; */
  }
  section.about-section .about-section-right div h2,
  section.about-section .about-section-right div p {
    text-align: center !important;
  }
  section.home-section .home-section-left > div p,
  section.about-section .about-section-right div p {
    font-size: 14px !important;
    line-height: 28px !important;
  }
  .about-section-right {
    margin-top: 0px;
  }
  section.about-section .about-section-right div h1 {
    font-size: 20px;
  }
  section.about-section .about-section-right div h2 {
    font-size: 22px !important;
  }
  .learn_more_link {
    font-size: 18px;
  }
  .about-section {
    margin-top: 0px;
  }
}
@media screen and (max-width: 330px) {
  .mobile-responsive-header {
    padding: 2rem 1.5rem;
  }
  section.home-section .home-section-left > div h2 {
    font-size: 1.5rem;
  }
  .home-buttons > a,
  .become-peachy-patient-container .content a {
    font-size: 12px;
  }
  section.about-section .about-section-right div h2 {
    font-size: 1.5rem;
  }
  .stars-area .stars {
    display: none;
  }
  .stars-area small {
    margin-left: 0px;
  }
  .become-peachy-patient-container .content h1 {
    font-size: 1.5rem;
  }
}

.input-wrapper-new input {
  width: 100%;
  flex: 1;
  margin: 0rem !important;
  background-color: transparent;
  border: none;
  font-size: 16px;
  display: flex;
  height: 60px;
  align-items: center;
  border-bottom: 1px solid #cecece;
  color: #999999;
  outline: none;
  border-radius: 0px !important;
  font-family: "Poppins", sans-serif;
  -webkit-appearance: none !important;
  -webkit-border-radius: 0 !important;
}

.input-wrapper-new label {
  display: flex;
  align-items: center;
  position: absolute;
  color: #999;
  pointer-events: none;
  transition: 0.3s ease all;
  top: 20px;
}

.input-wrapper-new input:focus + label,
.input-wrapper-new.active label {
  top: -20px;
  color: #0077ff;
}
