{% extends "base.html" %}

{% block content %}


    <!-- Team Area -->
    <section class="about-section-wrapper">
      <div class="radial_bar"></div>
      <section class="about-section">
        <div class="about-section-left">
          <div class="side-images-2" >
            <div class="image1" >

              <img
                src="/static/img/DSC_2903.jpg"
                alt=""
                class="animated__fadeimg1"
                style="animation-delay: 0.3s"
              />
                                    </div>
              <br>
            <div class="image3">
              <img
                src="/static/img/img2.jpeg"
                alt=""
                class="animated__fadeimg3"
                style="animation-delay: 0.5s"
              />
            </div>
          </div>
        </div>
        <div class="about-section-right">
          <div>
            <h1>{{text.title1}}</h1>
            <h2>{{text.title1b}}</h2>
            <p>{{text.text1|safe}}</p>
             <a href="https://github.com/KelvinKramp/KelvinKramp" class="learn_more_link" target="_blank"> Kelvin Kramp MD, PhD, Python developer</a>
             <a href="https://github.com/AtifWeb" class="learn_more_link" target="_blank"> Atif Asim, MBA, frontend developer</a>
          </div>
        </div>
      </section>
      <section class="about-section">
        <br>
                <br>
                <br>
                <br>
                        <br>
                  <br>
                  <br>
        <div class="about-section-left">
          <div class="side-images">
          </div>
        </div>
        <div class="about-section-right">
          <div>
            <h1>{{text.title2}}</h1>
            <h2>{{text.title2b}}</h2>
            <p>{{text.text2|safe}}</p>
                         <a href="https://github.com/KelvinKramp/rijX" class="learn_more_link" target="_blank">Bekijk de GitHub pagina</a>.
          </div>
        </div>
                  <div class="about-section-right">
          <div>
                          <img
                src="/static/img/GitHub_Logo.png"
                style="margin-bottom: 20px;   margin-left: auto;
  margin-right: auto;
  width: 25%; box-shadow: 4px 10px 30px #deeaf5;
  width: 50%;
  border-radius: 10px;"
              />
          </div>
                                <div>
                          <img
                src="/static/img/GitHub-Mark-120px-plus.png"
                style="margin-bottom: 300px;   margin-left: auto;
  margin-right: auto;
  width: 25%; box-shadow: 4px 10px 30px #deeaf5;
  width: 50%;
  border-radius: 10px;"
              />
          </div>
        </div>
      </section>
    </section>
      <section class="about-section">
        <div class="about-section-right">
          <div>
                          <img
                src="/static/img/planningssysteem.png"
                style="margin-bottom: 400px;   margin-left: auto;
  margin-right: auto;
  width: 50%; box-shadow: 4px 10px 30px #deeaf5;
  width: 100%;
  border-radius: 10px;"
              />
          </div>
        </div>
        <div class="about-section-right">
          <div>
            <h1>{{text.title3}}</h1>
            <h2>{{text.title3b}}</h2>
            <p>{{text.text3|safe}}</p>
            <a href="{{url_for('contact')}}" class="learn_more_link">Neem contact met ons op</a>
          </div>
        </div>
      </section>
    </section>


    <script src="../../assets/js/home.js"></script>

    <!-- waypoint CDN for animatioins -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="../../assets/js/animation-master/animation-master.js"></script>
{% endblock %}