{% extends "base.html" %}

{% block content %}


    <!-- Team Area -->
    <section class="about-section-wrapper">
      <div class="radial_bar"></div>
      <section class="about-section">
        <div class="about-section-left">
          <div class="side-images">
            <div class="image1">
              <img
                src="https://images.unsplash.com/photo-1531427186611-ecfd6d936c79?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
                alt=""
                class="animated__fadeimg1"
                style="animation-delay: 0.3s"
              />
            </div>
            <div class="image2">
              <img
                src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
                alt=""
                class="animated__fadeimg2"
                style="animation-delay: 0.4s"
              />
            </div>
            <div class="image3">
              <img
                src="https://media.istockphoto.com/photos/portrait-of-happy-senior-woman-fastening-seat-belt-before-driving-a-picture-id1314817473?s=612x612"
                alt=""
                class="animated__fadeimg3"
                style="animation-delay: 0.5s"
              />
            </div>
          </div>
        </div>
        <div class="about-section-right">
          <div>
            <h1>{{text.title1}}</h1>
            <h2>{{text.title1b}}</h2>
            <p>{{text.text1|safe}}</p>
          </div>
        </div>
      </section>
      <section class="about-section">
        <br>
                <br>
                <br>
                <br>
                        <br>
                  <br>
                  <br>
        <div class="about-section-left">
          <div class="side-images">
          </div>
        </div>
        <div class="about-section-right">
          <div>
            <h1>{{text.title2}}</h1>
            <h2>{{text.title2b}}</h2>
            <p>{{text.text2|safe}}</p>
          </div>
        </div>
      </section>
    </section>
      <section class="about-section">
        <div class="about-section-left">
          <div class="side-images">
          </div>
        </div>
        <div class="about-section-right">
          <div>
            <h1>{{text.title3}}</h1>
            <h2>{{text.title3b}}</h2>
            <p>{{text.text3|safe}}</p>
          </div>
        </div>
      </section>
    </section>


    <script src="../../assets/js/home.js"></script>

    <!-- waypoint CDN for animatioins -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="../../assets/js/animation-master/animation-master.js"></script>
{% endblock %}