{% extends "base.html" %}

{% block content %}


    <!-- Team Area -->
    <section class="about-section-wrapper">
      <div class="radial_bar"></div>
      <section class="about-section">
        <div class="about-section-left">
          <div class="side-images-2" >
            <div class="image1" >

              <img
                src="/static/img/asian-male-rijrotterdam.jpg"
                alt=""
                class="animated__fadeimg3"
                style="animation-delay: 0.5s; width:500px;"
              />
                                    </div>
          </div>
        </div>
        <div class="about-section-right">
          <div>
            <h1>{{text.title1}}</h1>
            <h2>{{text.title1b}}</h2>
            <p>{{text.text1|safe}}</p>
             <a href="https://www.linkedin.com/in/kelvin-kramp-a64b4a1b0" class="learn_more_link" target="_blank"> Kelvin Kramp MD, PhD</a>
             <a href="https://github.com/AtifWeb" class="learn_more_link" target="_blank"> Atif Asim, MBA, frontend developer</a>
          </div>
        </div>
      </section>
      <section class="about-section">
        <br>
        <div class="about-section-left">
          <div class="side-images">
          </div>
        </div>
        <div class="about-section-right">
          <div>
            <h1>{{text.title2}}</h1>
            <h2>{{text.title2b}}</h2>
            <p>{{text.text2|safe}}</p>
          </div>
        </div>
                  <div class="about-section-right">
          <div>
                          <img
                src="/static/img/zorgdomeinlogo.jpeg"
                class="animated__fadeimg3"
                style="margin-top: 100px;   margin-left: auto;
  margin-right: auto;
  width: 25%; box-shadow: 4px 10px 30px #deeaf5;
  width: 40%;
  border-radius: 10px;"
              />

    <br>
                  <br>
                  <br>
                                                      <img
                src="/static/img/zorgmaillogo.jpeg"
                class="animated__fadeimg3"
                style="margin-bottom: 10px;   margin-left: 100px;
  margin-right: auto;
  width: 25%; box-shadow: 4px 10px 30px #deeaf5;
  width: 40%;
  border-radius: 10px" </img>
<!--              />-->
<!--                                                      <img-->
<!--                src="/static/img/Enovation-care-to-connect-logo.svg"-->
<!--                class="animated__fadeimg3"-->

<!--              />-->
          </div>
                                <div>
<!--                          <img-->
<!--                src="/static/img/GitHub-Mark-120px-plus.png"-->
<!--                style="margin-bottom: 10px;   margin-left: auto;-->
<!--  margin-right: auto;-->
<!--  width: 25%; box-shadow: 4px 10px 30px #deeaf5;-->
<!--  width: 50%;-->
<!--  border-radius: 10px;"-->
<!--              />-->
          </div>
        </div>
      </section>
    </section>
      <section class="about-section">
        <div class="about-section-right">
          <div>
                          <img
                src="/static/img/planningssysteem.png"
                class="animated__fadeimg3"
                style="margin-bottom: 200px;   margin-left: auto;
  margin-right: auto;
  width: 50%; box-shadow: 4px 10px 30px #deeaf5;
  width: 100%;
  border-radius: 10px;"
              />
          </div>
        </div>
        <div class="about-section-right">
          <div>
            <h1>{{text.title3}}</h1>
            <h2>{{text.title3b}}</h2>
            <p>{{text.text3|safe}}</p>
            <a href="{{url_for('contact')}}" class="learn_more_link">Neem contact met ons op</a>
          </div>
        </div>
      </section>
    </section>


    <script src="../../assets/js/home.js"></script>

    <!-- waypoint CDN for animatioins -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="../../assets/js/animation-master/animation-master.js"></script>
{% endblock %}