{% extends "base.html" %}

{% block content %}
    <section class="about-section-wrapper first_about_section_wrapper"  id="more">
      <section class="about-section">
        <div class="about-section-right">
                <form action="{{ url_for('confirmation') }}" method="POST">

                        <html>
                        <body>
                        <h2>De afspraak staat gepland</h2>
                        <p>Er is een afspraak voor u gepland op {{ data.date }} voor een {{ data.type_service }}</p>
                        <p>Arts: {{ data.worker }}, BIG: {{data.BIG}}, lokatie: {{ data.address }} </p>
                        <p>Er is een bevestigingsmail met betaallink verzonden naar {{data.email}}</p>
                        <p>Open deze mail en betaal het bedrag om de afspraak te bevestigen. </p>
                        </body>
                        </html>
                </form>
        </div>
      </section>
              </section>
{% endblock content %}