{% extends "base.html" %}

{% block content %}
    <div id="hero" class="hero overlay">
        <div class="hero-content">
            <div class="hero-text" style="margin-top: 50px;max-width: 80%;">
                <h1>Contact informatie</h1>
                <br>
                <a href="mailto:info@rijkeuringrotterdam.nl" class="btn btn-border">Stuur een bericht via whatsapp</a>
                <br>
                <div>                <br></div>
                <a href="mailto:info@rijkeuringrotterdam.nl" class="btn btn-border">Stuur een mail</a>
                <br>
                <div>                <br></div>
                <a href="mailto:info@rijkeuringrotterdam.nl" class="btn btn-border">Telefonisch contact</a>
                                <br>
                <div>                <br></div>
                                <h4>E-mail: info@rijkeuringrotterdam.nl</h4>
                <h4>Telefoon/Whatsapp 0612341234</h4>
                <h4>Adres: Mauritsstraat 989, 3012 CH, Rotterdam</h4>
            </div><!-- /.hero-text -->
        </div><!-- /.hero-content -->
    </div><!-- /.hero -->
{% endblock %}