{% extends "base.html" %}
{% block content %}
<style>
body, html {
  height: 100%;
}
</style>
<html>
<body style="height: 100%">
    <!-- Benefints Area -->
    <section class="about-section-wrapper first_about_section_wrapper"  id="more">
      <section class="about-section special_changing_section">
        <div class="about-section-right">
          <div>
            <h1>{{text.title1}}</h1>
                          <h2>{{text.title1b}}</h2>
            <p>{{text.text1 |safe}}</p>
              <div class="home-buttons stagger">
            <a href=>Telefonisch contact: 0683825634</a>
          </div>
              <div class="home-buttons stagger">
            <a href={{welcome_message}} target="_blank">Stuur een bericht via whatsapp</a>
          </div>
                        <div class="home-buttons stagger">
            <a href="mailto:info@rijkeuringrotterdam.nl">Stuur een mail</a>
          </div>

<!--          <a href="#" class="learn_more_link">Lees meer</a>-->
        </div>
        <div class="about-section-right">

          </div>
        </div>
      </section>
              </section>
</body>
</html>
{% endblock %}
