{% extends "base.html" %}

{% block content %}

    <!-- Home First Section Wrapper -->
    <section class="home-section-outer">
      <section class="container home-section flex">
        <div class="home-section-left">
          <div>
            <h1 class="animated__aboutussec animated fadeInUp">Rijbewijskeuringen in Rotterdam</h1>
                <ul class="list-nobull">
                {% for i in landingpage_items %}
                <li><h2 class="stagger animated__itsmain animated fadeInUp"> {{i.item}} </h2></li>
                    {% endfor %}

                </ul>
                <br>
          </div>
          <div class="home-buttons stagger animated__itsmain">
            <a href="{{url_for('booking')}}" class="">Maak direct een afspraak</a>
            <a href="#more" class="">Lees meer...</a>
          </div>

          <!-- Image In  Mobile View -->
          <img
            src="/static/img/echtpaar_small.jpg"
            alt="rijrotterdamechtpaar"
            class=""
          />
        </div>

        <!-- Image in Desktop View -->
        <div class="home-section-right">
          <img
            src="/static/img/echtpaar_small.jpg"
            alt="rijrotterdamechtpaar"
            class=""
          />
        </div>
      </section>
    </section>

    <!-- Benefints Area -->
    <section class="about-section-wrapper first_about_section_wrapper"  id="more" style="padding-top:10rem">
      <section class="about-section" style="margin-top:10px">
        <div class="about-section-right" style="display: inline-block;">
          <div>
            <h1>{{text.title1}}</h1>
            <p>{{text.text1 | safe }}</p>
          </div>
                      <a href={{url_for('inhoudkeuring')}} class="learn_more_link">Lees meer over de inhoud van een keuring</a>
                      <a href={{url_for('prijzen')}} class="learn_more_link">Bekijk de prijzen</a>
<!--          <a href="#" class="learn_more_link">Lees meer</a>-->
        </div>
        <div class="about-section-right" style="display: inline-block;">
          <div>
            <h1>{{text.title2}}</h1>
            <p>{{text.text2 | safe }}</p>
          </div>
          <a href={{url_for('aboutus')}} class="learn_more_link">Lees meer over RijRotterdam</a>
        </div>
      </section>
              </section>
        <section class="about-section">
                              <div class="about-section-right">
          <div>
              <h1>{{text.title4}}</h1>
              <p>Het verkrijgen van een nieuw rijbewijs gebeurt in 3 stappen. Hieronder leest u meer over de stappen.</p>
              <div>
                        <img
            src="/static/img/flowchart.jpeg"
            class="optionalstuff"
            height="200"
            style="justify-content: center;"
            alt="3 stappen rijbewijskeuring"
          />
                  </div>
          </div>
        </div>
        </section>
    </section>
      <section class="about-section">
        <div class="about-section-right">
          <div>
              <h2>Stap 1: Gezondheidsverklaring aanvragen</h2>
            <p>{{text.text4|safe}}</p>
          </div>
        </div>
        <div class="about-section-right">
          <div>
            <a href="https://www.cbr.nl/nl/rijbewijs-houden/nl/gezondheidsverklaring/gezondheidsverklaring-invullen.htm#:~:text=Het%20invullen%20van%20de%20Gezondheidsverklaring,Gezondheidsverklaring%20betaalt%20u%20via%20iDeal" class="learn_more_link">Klik hier om een gezondheidsverklaring in te vullen</a>.
          </div>
        </div>
      </section>
      <section class="about-section">
        <div class="about-section-right">
          <div>
              <h2>Stap 2: Maak een afspraak</h2>
            <p>{{text.text3|safe}}</p>
          </div>
        </div>
        <div class="about-section-right">
          <div>
          <a href="{{url_for('booking')}}" class="learn_more_link">Klik hier om een afspraak te maken</a>
          <a href="{{url_for('inloopspreekuur')}}" class="learn_more_link">Klik hier voor de inloopspreekuur tijden</a>
              <a href="{{url_for('inloopspreekuur')}}" class="learn_more_link">Klik hier om te zien wat u moet meenemen</a>
          </div>
        </div>
      </section>
<br>
      <section class="about-section">
        <div class="about-section-right">
          <div>

              <br>
              <br>

              <h2>Stap 3: Wacht de uitslag van het CBR af</h2>
            <p>{{text.text6 | safe}}</p>
          </div>
        </div>
                  <div class="about-section-right">
          <div>
<!--          <a href="{{url_for('mijnverslag')}}" class="learn_more_link">Klik hier om uw keuringsverslag in te zien</a>-->
          <a href="mailto:info@rijkeuringrotterdam.nl" class="learn_more_link">Mail ons aanvullende medische vragen van het CBR</a>
<!--              <a href={{welcome_message}} class="learn_more_link" target="_blank">Whatsapp algemene vragen</a>-->
          </div>
        </div>
      </section>
    <script src="../../assets/js/home.js"></script>

    <!-- waypoint CDN for animatioins -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="../../assets/js/animation-master/animation-master.js"></script>
{% endblock %}