{% extends "base.html" %}

{% block content %}

    <!-- Home First Section Wrapper -->
    <section class="home-section-outer">
      <section class="container home-section flex">
        <div class="home-section-left">
          <div>
            <h1 class="animated__aboutussec animated fadeInUp">Rijbewijskeuringen in RijRotterdam</h1>
                <ul class="list-nobull">
                {% for i in landingpage_items %}
                <li><h2 class="stagger animated__itsmain animated fadeInUp">- {{i.item}} </h2></li>
                    {% endfor %}

                </ul>
                <br>
          </div>
          <div class="home-buttons stagger animated__itsmain">
            <a href="/patient/home" class="">Maak direct een afspraak</a>
            <a href="#more" class="">Lees meer...</a>
          </div>

          <!-- Image In  Mobile View -->
          <img
            src="https://media.istockphoto.com/photos/smiling-senior-afro-man-driving-a-car-and-looking-at-camera-picture-id1159586745?s=612x612"
            alt=""
            class="mobile-image animated__femaledocmobile"
          />
        </div>

        <!-- Image in Desktop View -->
        <div class="home-section-right">
          <img
            src="https://media.istockphoto.com/photos/smiling-senior-afro-man-driving-a-car-and-looking-at-camera-picture-id1159586745?s=612x612"
            alt=""
            class=""
          />
        </div>
      </section>
    </section>

    <!-- Benefints Area -->
    <section class="about-section-wrapper first_about_section_wrapper"  id="more">
      <section class="about-section">
        <div class="about-section-right">
          <div>
            <h1>Waarom RijRotterdam.</h1>
            <p>
Tijdens mijn werk als arts binnen verschillende organisaties heb ik gemerkt dat mensen onnodig veel geld kwijt zijn aan een keuring. Als Rotterdamse arts voel ik mij verantwoordelijk voor de gezondheid van mijn medemens. Het is naar mijn mening onverantwoord om een relatief groot bedrag te vragen voor een keuring die gemiddeld 5 tot 10 minuten duurt. Bij RijRotterdam komt u goedkoper uit dan bij concurrenten. Hiervan kan u een lekkere gezonde maaltijd voor uzelf kopen en dit draagt weer bij aan uw welzijn en gezondheid.

            </p>
          </div>
          <a href="#" class="learn_more_link">Learn More</a>
        </div>
        <div class="about-section-left">
          <img
            src="https://media.istockphoto.com/photos/portrait-of-smiling-senior-man-driving-car-picture-id491268360?s=612x612"
            alt=""
          />

        </div>
      </section>
      <br>
            <br>
      <section class="about-section">
        <div class="about-section-left">
          <img
            src="https://media.istockphoto.com/photos/portrait-of-smiling-senior-man-driving-car-picture-id491268360?s=612x612"
            alt=""
          />
        </div>
        <div class="about-section-right">
          <div>
            <h1>Een rijbewijskeuring voorbereiden kan ingewikkeld zijn.</h1>
            <p>
RijRotterdam is opgezet om u zo goed mogelijk voor een lage prijs door een rijbewijskeuring te begeleiden. Communicatie met ons betekent contact met een kundige keuringsarts. Er zijn geen secretaresses en managers. Door regelzaken te automatiseren en de management lagen eruit te halen kunnen we de prijs van een rijbewijskeuring voor u zo laag mogelijk maken en rompslomp voorkomen.

            </p>
          </div>
          <a href="#" class="learn_more_link">Learn More</a>
        </div>
      </section>
      <br>
      <br>
      <section class="about-section">
        <div class="about-section-right">
          <div>
            <h1>Hoe bereid ik mij voor?</h1>
            <p>
U kan u gezondheidsverklaring invullen via deze link. Binnen uiterlijk 10 dagen ontvangt u bericht van het CBR met uw verwijzing en het keurverslag. Op het keurverslag staat een ZD-code. Deze neemt u mee naar de keuring bij RijRotterdam.

            </p>
          </div>
          <a href="#" class="learn_more_link">Learn More</a>
        </div>
        <div class="about-section-right">
          <div>
            <h1>Hoe maak ik een afspraak?</h1>
            <p>
U kan u gezondheidsverklaring invullen via deze link. Binnen uiterlijk 10 dagen ontvangt u bericht van het CBR met uw verwijzing en het keurverslag. Op het keurverslag staat een ZD-code. Deze neemt u mee naar de keuring bij RijRotterdam.

            </p>
          </div>
          <a href="#" class="learn_more_link">Learn More</a>
        </div>
      </section>
    </section>

    <script src="../../assets/js/home.js"></script>

    <!-- waypoint CDN for animatioins -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="../../assets/js/animation-master/animation-master.js"></script>
{% endblock %}