{% extends "base.html" %}

{% block content %}

    <!-- Benefints Area -->
    <section class="about-section-wrapper first_about_section_wrapper"  id="more" style="padding-top:10rem">
      <section class="about-section special_changing_section" style="margin-top:10px">
        <div class="about-section-right" style="display: inline-block;">
          <div>
            <h1>{{text.title1}}</h1>
            <p>{{text.text1 |safe}}</p>
                        <div class="home-buttons stagger" style="margin: auto;width: 40%;padding: 10px;">
            <a href="{{url_for('contact')}}" class="">Meer vragen? Neem contact met ons op</a>
          </div>
<!--          <a href="#" class="learn_more_link">Lees meer</a>-->
        </div>
        <div class="about-section-right">

          </div>
        </div>
      </section>
              </section>

{% endblock %}
