{% extends "base.html" %}

{% block content %}


    <!-- Team Area -->
    <section class="about-section-wrapper">
      <div class="radial_bar"></div>
        <section class="about-section">
        <div class="about-section-right">
          <div>
            <h1>Inloopspreekuur</h1>
            <h2>Feel free to contact us</h2>
            <p>
              Ons team bestaat uit artsen en computer programmeurs. Er zijn geen
              managers. Door regelzaken te automatiseren en de management lagen
              eruit te halen kunnen we de prijs van een rijbewijskeuring voor u
              zo laag mogelijk maken.
            </p>
          </div>
          <a href="#" class="learn_more_link">Team</a>
        </div>
      </section>
      <section class="about-section">
        <div class="about-section-right">
          <div>
            <h1>Inloopspreekuur</h1>
            <h2>Feel free to contact us</h2>
            <p>
              Ons team bestaat uit artsen en computer programmeurs. Er zijn geen
              managers. Door regelzaken te automatiseren en de management lagen
              eruit te halen kunnen we de prijs van een rijbewijskeuring voor u
              zo laag mogelijk maken.
            </p>
          </div>
          <a href="#" class="learn_more_link">Team</a>
        </div>
      </section>
    </section>

    <script src="../../assets/js/home.js"></script>

    <!-- waypoint CDN for animatioins -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="../../assets/js/animation-master/animation-master.js"></script>
{% endblock %}