{% extends "base.html" %}

{% block content %}

    <!-- Benefints Area -->
    <section class="about-section-wrapper first_about_section_wrapper"  id="more" style="padding-top:10rem;">
      <section class="about-section" style="margin-top:10px">
                <div class="about-section-right" style="display: inline-block;">
          <div>

            <h1>{{text.title1}}</h1>
            <p>{{text.text1 |safe}}</p>

          </div>
        </div>
                <div class="about-section-right" style="justify-content:flex-start;">
          <div style="justify-content:flex-start;">

            <h1>{{text.title2}}</h1>
            <p>{{text.text2|safe}}</p>
          </div>
<!--          <a href="#" class="learn_more_link">Lees meer</a>-->
        </div>

      </section>
              </section>

{% endblock %}