{% extends "base.html" %}

{% block content %}

    <!-- Benefints Area -->
    <section class="about-section-wrapper first_about_section_wrapper"  id="more">
      <section class="about-section">
        <div class="about-section-right">
          <div>

            <h1>{{text.title1}}</h1>
            <p>{{text.text1 |safe}}</p>
            <br>
                        <br>
            <img src="/static/img/incarpackage_small.jpg" alt="Girl in a jacket"  style="  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;">
          </div>
<!--          <a href="#" class="learn_more_link">Lees meer</a>-->
        </div>
        <div class="about-section-right" style="margin-top:30px">
          <div>
            <h1>{{text.title2}}</h1>
            <p>{{text.text2|safe}}</p>
          </div>
        </div>
      </section>
              </section>

{% endblock %}