{% extends "base.html" %}

{% block content %}

    <div id="hero" class="hero overlay">
        <div class="hero-content">
            <div class="hero-text" style="margin-top: 50px;max-width: 80%;">
                <h1>Mijn verslagen</h1>
                <br>
                <ul class="list-nobull">
                <li>U kan hier uw keuringsverslag opvragen vanuit zorgdomein</li>
                </ul>
                <br>
                <a href="#" class="btn btn-border">Start aanvraag</a>
            </div><!-- /.hero-text -->
        </div><!-- /.hero-content -->
    </div><!-- /.hero -->
{% endblock %}