{% extends "base.html" %}

{% block content %}
   <div id="hero" class="hero overlay">
        <div class="hero-content">
            <div>
            <div class="hero-text" style="margin-top: 50px;max-width: 80%;">
            <h1>Keuringen zoeker</h1>
            <br>
            <div class="iframe-container">
                    <iframe class="responsive-iframe" src="http://127.0.0.1:8050/" height="900px" width="1000px" title="Iframe Example"></iframe>
            </div>

            <br>
        </div><!-- /.hero-text -->
    </div><!-- /.hero-content -->
{% endblock %}